<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/city/add" method="post" th:object="${city}">
    <input type="text" name="nameCity" placeholder="Название города" th:field="*{nameCity}" required>
    <div th:if="${#fields.hasErrors('nameCity')}" th:errors="*{nameCity}">
        Имя не менее 3 символов
    </div>
    <button type="submit" formmethod="post"> Добавить город </button>
</form>

<h2>Все города: </h2>
<ul>
    <th:block th:each="onecity : ${models}">
        <li>
            <span th:text="${onecity.nameCity}"></span>
            <form action="/city/update" method="post">
                <input type="hidden" name="id" th:value="${onecity.id}">
                <input type="text" name="nameCity" placeholder="Название города" th:value="${onecity.nameCity}" required>
                <button type="submit" formmethod="post"> Изменить </button>
            </form>
            <form action="/city/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${onecity.id}">
                <button type="submit" formmethod="post">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>