<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin Page</h1>

<form action="/city/add" method="post" th:object="${newEntity}">
    <input type="text" name="NameCity" placeholder="Название города" th:field="*{NameCity}" required>
    <div th:if="${#fields.hasErrors('NameCity')}" th:errors="*{NameCity}">
        Имя не менее 3 символов
    </div>
    <button type="submit" formmethod="post"> Добавить город </button>
</form>

<h2>Все города: </h2>
<ul>
    <th:block th:each="city : ${entities}">
        <li>
            <span th:text="${city.NameCity}"></span>
            <form action="/city/update" method="post" th:object="${existingEntity}">
                <input type="hidden" name="IdCity" th:value="${existingEntity.IdCity}">
                <input type="text" name="NameCity" placeholder="Название города" th:field="*{NameCity}" required>
                <div th:if="${#fields.hasErrors('NameCity')}" th:errors="*{NameCity}">
                    Имя не менее 3 символов
                </div>
                <button type="submit" formmethod="post"> Изменить </button>
            </form>
            <form action="/city/delete" method="post" style="display:inline;">
                <input type="hidden" name="IdCity" th:value="${city.IdCity}">
                <button type="submit" formmethod="post">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>

</form>
</body>
</html>