<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Управление квартирами</title>
</head>
<body>
<div th:insert="block/header"></div>
<h1>Добавить квартиру</h1>
<form action="/flat/add" method="post" th:object="${flat}">
  <input type="text" name="nameFlat" placeholder="Название квартиры" th:field="*{nameFlat}" required>
  <div th:if="${#fields.hasErrors('nameFlat')}" th:errors="*{nameFlat}">
    Имя не должно быть короче 3 символов
  </div>

  <input type="text" name="flatNumberFlat" placeholder="Номер квартиры" th:field="*{flatNumberFlat}" required>
  <div th:if="${#fields.hasErrors('flatNumberFlat')}" th:errors="*{flatNumberFlat}">
    Номер квартиры не должен быть пустым
  </div>

  <input type="text" name="houseNumberFlat" placeholder="Номер дома" th:field="*{houseNumberFlat}" required>
  <div th:if="${#fields.hasErrors('houseNumberFlat')}" th:errors="*{houseNumberFlat}">
    Номер дома не должен быть пустым
  </div>

  <input type="number" name="floorNumberFlat" placeholder="Этаж" th:field="*{floorNumberFlat}" required>
  <div th:if="${#fields.hasErrors('floorNumberFlat')}" th:errors="*{floorNumberFlat}">
    Этаж не может быть отрицательным
  </div>

  <input type="text" name="areaFlat" placeholder="Площадь" th:field="*{areaFlat}" required>
  <div th:if="${#fields.hasErrors('areaFlat')}" th:errors="*{areaFlat}">
    Неправильный формат площади
  </div>

  <input type="number" name="roomsCountFlat" placeholder="Количество комнат" th:field="*{roomsCountFlat}">
  <div th:if="${#fields.hasErrors('roomsCountFlat')}" th:errors="*{roomsCountFlat}">
    Количество комнат не может быть отрицательным
  </div>
  <button type="submit">Добавить квартиру</button>
</form>

<div th:if="${errors}">
  <ul>
    <th:block th:each="error : ${errors}">
      <li th:text="${error.message}"></li>
    </th:block>
  </ul>
</div>

<h2>Все квартиры:</h2>
<ul>
  <th:block th:each="flat : ${flats}">
    <li>
      <span th:text="${flat.nameFlat}"></span>
      <span th:text="${flat.flatNumberFlat}"></span>
      <span th:text="${flat.houseNumberFlat}"></span>
      <span th:text="${flat.floorNumberFlat}"></span>
      <span th:text="${flat.areaFlat}"></span>
      <span th:text="${flat.roomsCountFlat}"></span><br>
      <form action="/flat/update" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${flat.id}">
        <input type="text" name="nameFlat" th:value="${flat.nameFlat}" required placeholder="Название квартиры">
        <input type="text" name="flatNumberFlat" th:value="${flat.flatNumberFlat}" required placeholder="Номер квартиры">
        <input type="text" name="houseNumberFlat" th:value="${flat.houseNumberFlat}" required placeholder="Номер дома">
        <input type="text" name="floorNumberFlat" th:value="${flat.floorNumberFlat}" required placeholder="Этаж">
        <input type="text" name="areaFlat" th:value="${flat.areaFlat}" required placeholder="Площадь">
        <input type="text" name="roomsCountFlat" th:value="${flat.roomsCountFlat}" placeholder="Количество комнат">
        <button type="submit">Изменить</button>
      </form>
      <form action="/flat/delete" method="post" style="display:inline;">
        <input type="hidden" name="id" th:value="${flat.id}">
        <button type="submit">Удалить</button>
      </form>
    </li>
  </th:block>
</ul>
</body>
</html>